@use 'base/variables' as va;
@use 'base/mixins' as mi;

.sobre-festival {
    padding: 5rem 0;

    @include mi.tablet {
        @include mi.grid(2, 5rem);
    }
    
}

.contenido-festival {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;

    @include mi.tablet {
        margin-top: 0;
    }

    h2 {
        margin-bottom: 2rem;
    }

    .fecha {
        color: va.$rosa;
        font-weight: 700;
    }
}